In [3]:
import pandas as pd
import numpy as np

In [63]:
from google.colab import files
uploaded = files.upload()

Saving Titanic_dataset.csv to Titanic_dataset (2).csv

In [67]:
titanic=pd.read_csv("Titanic_dataset.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

**1.	Kazada ölenlerin yaş ortalamasını bulunuz**

In [27]:
titanic[titanic["Survived"]==0]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,0,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,0,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [28]:
titanic[titanic["Survived"]==0]["Age"].mean()

np.float64(29.69911764705882)

**2.	Kazada ölenlerin bilet fiyatlarının ortalamasını ve medyanını bulunuz**

In [34]:
titanic.loc[titanic["Survived"]==0,["Survived","Fare"]]

     Survived     Fare
0           0   7.2500
1           0  71.2833
2           0   7.9250
3           0  53.1000
4           0   8.0500
..        ...      ...
886         0  13.0000
887         0  30.0000
888         0  23.4500
889         0  30.0000
890         0   7.7500

[891 rows x 2 columns]

In [35]:
titanic.loc[titanic["Survived"]==0,["Survived","Fare"]]["Fare"].mean()

np.float64(32.204207968574636)

In [36]:
titanic.loc[titanic["Survived"]==0]["Fare"].median()

14.4542

**3.	Kazada ölen erkeklerin yaş ortalamasını bulunuz**

In [68]:
titanic.loc[(titanic["Survived"]==0) & (titanic["Sex"]=='male'),["Survived","Sex"]]

     Survived   Sex
0           0  male
4           0  male
5           0  male
6           0  male
7           0  male
..        ...   ...
881         0  male
883         0  male
884         0  male
886         0  male
890         0  male

[468 rows x 2 columns]

In [44]:
titanic.loc[(titanic["Survived"]==0)&(titanic["Sex"]=='male'),["Survived","Sex","Age"]]["Age"].mean()
#Burda loc kullandığım için artık Age sütununu da yazdırdığım sütunlar arasına koymam lazım ki Age sütununun ortalamasını alabileyim

np.float64(30.72664459161148)

In [45]:
titanic.loc[(titanic["Survived"]==0)&(titanic["Sex"]=='male'),"Age"].mean()

np.float64(30.72664459161148)

**4.	Kazada ölen Kadınların yaş ortalamasını bulunuz**

In [48]:
titanic.loc[(titanic["Survived"]==0)&(titanic["Sex"]=='female'),["Survived","Sex","Age"]]["Age"].mean()

np.float64(27.915708812260537)

In [47]:
titanic.loc[(titanic["Survived"]==0)&(titanic["Sex"]=='female'),"Age"].mean()

np.float64(27.915708812260537)

In [56]:
titanic["Survived"]

0      0
1      0
2      0
3      0
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: Survived, Length: 891, dtype: int64

**5.	Kazadan kurtulanların yaş ortalamasını bulunuz**

In [71]:
titanic.loc[titanic["Survived"]==1 , "Age"].mean()

np.float64(28.343689655172415)

**6.	Kazadan kurtulanların bilet fiyatlarının ortalamasını bulunuz**

In [79]:
titanic.loc[titanic["Survived"]==1,["Survived","Fare"]]

     Survived     Fare
1           1  71.2833
2           1   7.9250
3           1  53.1000
8           1  11.1333
9           1  30.0708
..        ...      ...
875         1   7.2250
879         1  83.1583
880         1  26.0000
887         1  30.0000
889         1  30.0000

[342 rows x 2 columns]

In [80]:
titanic.loc[titanic["Survived"]==1,["Survived","Fare"]]["Fare"].mean()

np.float64(48.39540760233918)

**7.	Kazadan kurtulan toplam kişi sayısını bulunuz**

In [87]:
titanic[titanic["Survived"]==1]["Survived"].sum()

np.int64(342)

In [89]:
len(titanic[titanic["Survived"]==1])

342

**8.	10 yaşından küçüklerin bilet fiyatlarının medyan değerini bulunuz**

In [90]:
titanic[titanic["Age"]<10]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.00,3,1,349909,21.0750,NaN,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.00,1,1,PP 9549,16.7000,G6,S
16,17,0,3,"Rice, Master. Eugene",male,2.00,4,1,382652,29.1250,NaN,Q
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.00,3,1,349909,21.0750,NaN,S
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.00,1,2,SC/Paris 2123,41.5792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
827,828,1,2,"Mallet, Master. Andre",male,1.00,0,2,S.C./PARIS 2079,37.0042,NaN,C
831,832,1,2,"Richards, Master. George Sibley",male,0.83,1,1,29106,18.7500,NaN,S
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",male,4.00,4,2,347082,31.2750,NaN,S
852,853,0,3,"Boulos, Miss. Nourelain",female,9.00,1,1,2678,15.2458,NaN,C
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.00,1,1,347742,11.1333,NaN,S

In [96]:
titanic.loc[titanic["Age"]<10,["Age","Fare"]]["Fare"].median()

27.0

In [99]:
titanic.loc[titanic["Age"]<10,"Fare"].median()

27.0

***9.	1.sınıf, 2.sınıf ve 3.sınıf bilet fiyatlarının ortalama ve medyanlarını karşılaştırınız. ***

In [109]:
titanic.groupby("Pclass")["Fare"].median()

Pclass
1    60.2875
2    14.2500
3     8.0500
Name: Fare, dtype: float64

In [107]:
titanic.groupby("Pclass")["Fare"].mean()

Pclass
1    84.154687
2    20.662183
3    13.675550
Name: Fare, dtype: float64

**10.	Kazada ölen kadınların oranı ile erkeklerin oranını karşılaştırınız. (Örnek: erkekler için; ölen erkeklerin, erkek sayısına bölümü bu oranı vermektedir.)**

In [116]:
len(titanic.loc[(titanic["Survived"]==0)&(titanic["Sex"]=='female')])

81

In [119]:
len(titanic.loc[(titanic['Survived']==0)&(titanic['Sex']=='male')])

468

In [121]:
len(titanic.loc[(titanic['Survived']==0)&(titanic['Sex']=='male')])/len(titanic['Sex']=='male')

0.5252525252525253

In [122]:
len(titanic.loc[(titanic['Survived']==0)&(titanic['Sex']=='female')])/len(titanic['Sex']=='female')

0.09090909090909091